{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@services": "./src/services",
          "@store": "./src/store",
          "@variables": "./src/variables",
          "@assets": "./src/assets",
          "@views": "./src/views"
        }
      }
    ]
  ]
}
